@font-face {
  font-family: SpaceMono-Regular;
  src: url(../assets/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: SpaceMono-Italic;
  src: url(../assets/SpaceMono-Italic.ttf);
}

@font-face {
  font-family: SpaceMono-Bold;
  src: url(../assets/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: SpaceMono-BoldItalic;
  src: url(../assets/SpaceMono-BoldItalic.ttf);
}

* {
				margin: 0px;
				font-family: SpaceMono-Regular;
}

header {
				background-color: #ffffff;
				padding: 10px;
}

.inner-header {
			background-color: #121212;
			padding: 10px;	
}

section {
    background-color: #001a21;
				padding: 10px;
				font-family: SpaceMono-Regular;
}

.inner-section {
    background-color: #83bfff;
				padding: 10px;
				font-family: SpaceMono-Regular;
}

.inner-section h3 {
				color: #121212;
				font-size: 20px;
				padding-top: 20px;
				padding-left: 10px;
				border-bottom: 2px solid #121212;
}

.hero {
	background-color: #121212;
	background-image: url(../assets/bg.jpg);
 background-position: center;
	background-size: cover;
	color: #ffffff;
	padding: 1em;
 height: 500px;
 position: relative;
}

.heroContent {
		position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.maintitle {
    background-color: #ffffff;    
    padding: 10px;
    margin: 2px;
			 color: #001a21;
			 text-align: center;
}

section ul {
				list-style: none;
				padding: 10px;
				font-size: 17px;
				color: #000000;
}

section li {
				padding: 5px;
				border-bottom: 1px solid #ffffff;
}

section a {
				text-decoration: none;
				color: #ffffff;
}

section h3 {
    color: #ffffff;
				font-size: 20px;
				padding-top: 20px;
				padding-left: 10px;
				border-bottom: 2px solid #ffffff;
}

.ic-img {
				width: 10px;
				padding-left: 1px;
}

.ic-check {
				vertical-align: middle;
				width: 15px;
}

.spancode {
				text-decoration: underline;
}

.getsource {
				background-color: #83bfff;
				color: #ffffff;
				border: none;
				padding: 10px;
				text-decoration: none;
}

/* Menu Hamburger */

.menu {
				float: right;
}

.menucontainer {
  display: inline-block;
  cursor: pointer;
  border: 2px solid tomato;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #121212;
  margin: 6px 0;
  transition: 0.4s;
}
/* Sidebar */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #121212;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid white;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  border: 2px solid white;
  margin: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

footer {
				background-color: #121212;
				padding: 8px;
				color: #ffffff;
}

footer p {
				text-align: center;
}

footer ul {
				text-align: center;
				padding: 5px;
}

footer li {
				display: inline-block;
}

footer li a {
				color: #ffffff;
				text-decoration: none;
}
